@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Open+Sans&display=swap'); 

.forecast {
font-family: 'Just Another Hand';
font-weight: light;
font-size: 30px;
margin-left: 20px;
margin-right: 20px;
color: #8ab1f5;
}

